---
---
<div class="topbar">
    <span><i class="fa fa-truck"></i> Livraison Gratuite</span>
    <span><i class="fa fa-rotate-left"></i> Retour 7 jours</span>
</div>
<header class="site-header">
    <div class="header-inner">
        <div class="header-spacer"></div>
        <a href="/" class="site-logo">
            <div class="site-logo-icon">🛒</div>
            Lina Night Wear
        </a>
        <div class="header-spacer" style="display:flex; justify-content:flex-end;">
            <button class="mode-toggle" id="dark-mode-toggle" aria-label="Changer le thème"><i class="fa fa-moon"></i><i class="fa fa-sun"></i></button>
        </div>
    </div>
</header>
